@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:mono ;
    src: url(fonts/GeistMonoVF.woff);
}
@font-face {
    font-family:gesi ;
    src: url(fonts/GeistVF.woff);
}
@font-face {
    font-family: front;
    src: url(fonts/SpicyRice-Regular.ttf);
}

.main{
  width: 100%;
  height: 915px;
}
.ftext{
        color: white;
        font-size: 34px;
        font-family: front;
        padding-top: 20px;
        padding-left: 60px;
        padding-bottom: 40px;
}
.left{
    width: 25%;
    background-color: darkblue;
    height: 915px;
    position: absolute;
}
.skill{
    font-size: 33px;
    font-family:gesi ;
    color: white;
    padding-top: 50px;
    padding-left: 25px;
}
.list{
    padding-top: 15px;
    padding-left: 80px;
    color: white;
    font-family: mono;
    letter-spacing: 2px;
}

.bio{
    color: white;
    font-family: mono;
    padding-left: 80px;
    padding-top: 10px;
}
.hr{
    padding-top: 40px;
}
.links{
    color: white;
    font-family: gesi;
    font-size: 25px;
    padding-top: 60px;
    display: flex;
    justify-content: space-evenly;
    /* margin-left: 70px; */
    word-spacing: 10px;
    padding-right: 15px;

}
.imgo{
  border-radius: 47%;
  margin-left: 100px;
}
.edu{
  width: 75%;
  height: 915px;
  position: absolute;
  margin-left: 420px;
}
.eduheads{
  font-size: 34px;
  font-family: gesi;
  font-weight:600 ;
  padding-top: 35px;
  padding-left: 80px;
}
.subedu{
  font-size: 20px;
  font-family: gesi;
  padding-left: 75px;
  text-decoration: underline 2px black;
  font-style: italic;
  padding-top: 15px;
}
.hr2{
  color: darkblue;
  height: 3px;
}
.education{
font-family: gesi;
font-size: 17px;
padding-top: 20px;

}
.edulist{
  list-style-type:disc;
  padding-left: 100px;
  /* padding-left: 50px; */
}
